.lootGroupContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column {
    align-items: center;
}

.left {
    align-items: flex-end;
}

.right {
    align-items: flex-start;
}

